<html>
  <head> </head>

  <body>
    <div
      style="
        margin: auto;
        width: 60vw;
        color: black;
        box-shadow: 1px 4px 1px 1px #00000057;
      "
    >
      <div
        style="
          width: 60vw;
          padding: 20px 10px 10px 10px;
          background-color: #fff;
        "
      >
        <div>
          <img
            style="margin-left: 2rem"
            src="http://openforum.ng/img/OpenForumLogo.png"
            height="160"
            alt="The Open Forum"
            class="CToWUd"
          />
        </div>
      </div>
      <div
        style="width: 60vw; padding: 0px 20px 10px 10px; background-color: #fff"
      >
        <span style="font-weight: bold; margin-left: 50px; display: block"
          >Hi {{namez}},</span
        >
        <span style="margin-left: 50px; display: block">
          Welcome to Mobile Identity and thank you for signing up! Please click
          the button below to verify your account. Your login details are:<br />
          Username: Your email address {{ emailz }}<br />
          Password: The password you have chosen<br />
          Remember to read our Terms of Use and Privacy Policy. If you have any
          issues accessing the platform, please contact us at
          hello@codedtee.com.
          <br /><br /><br />
          <a
            style="
              background-color: #ea4639;
              color: #ffffff;
              padding: 15px 30px;
              border-radius: 6px;
            "
            href="https://{{url}}/{{token}}'"
            target="_blank"
            >Activate my account</a
          >
        </span>
        <br /><br />
        <span
          style="
            padding: 10px 10px 20px 0px;
            margin-left: 50px;
            display: block;
            font-weight: bold;
          "
          >Yours sincerely,<br />The Mobile Identity team</span
        >
      </div>
    </div>
  </body>
</html>
